linguini_markers
SETTINGS.py
*.swp
*.pyc
data
.DS_Store
del
env
startenv
src/embedder/test-data/test-minibatch-generator
src/embedder/test-data/test-entity-embedder
src/embedder/test-data/test-embedder
pbs
